
<ng-container *ngFor="let dotIndex of dotsKeys">

  <div *ngIf="dots[dotIndex].id == myDotId"
    class="dot my"
    [style.background]="'crimson'"
    [style.top]="dots[dotIndex].y + 'px'"
    [style.left]="dots[dotIndex].x + 'px'"
    (cdkDragMoved)="drag($event)"
    cdkDrag>{{dots[dotIndex].id}}</div>

  <div *ngIf="dots[dotIndex].id != myDotId"
     class="dot"
     [style.background]="'#555555'"
     [style.top]="dots[dotIndex].y + 'px'"
     [style.left]="dots[dotIndex].x + 'px'">{{dots[dotIndex].id}}</div>
</ng-container>
